# Git
**/.git
**/.gitignore

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Docker
.dockerignore
docker-compose*.yml

# IDEs and OS files
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/.DS_Store

# Dependencies and Build outputs
**/node_modules/
**/dist/
**/build/
**/bin/
**/obj/
**/__pycache__/
**/*.pyc
**/*.pyo
**/venv/
**/.venv/